<div class="container text-center">
    <div class="container text-center alert alert-danger" style="display: none">
        <h1 class="">警告：</h1>
        <h5></h5>
    </div>

    <h1>欢迎来到男娘学院</h1>
    <p>
        男娘学院是一个用于性癖开发的长期游戏。你将选择专注于一个或多个领域的主修专业，这将给你安排每天的调教任务。这个游戏的设计并不会过多干预你的日常生活，你每天只需要抽出10至60分钟用于一些主动性任务。
        这个游戏包括课程、社团、惩罚、伙伴多个有特点的系统，这些系统中包括后庭play、禁欲、高潮禁止、女体化、捆束、精液play、灌肠、口交、乳胶服装、SP、窒息play、责骂、宠物化、电击、炮机、感官剥夺、木乃伊化等一系列性癖元素。
        最棒的是，以上这些完全免费且可被高度定制。
        所以立刻选择一门主修专业，添加一些课程，开始你的旅程吧！
    </p>
    <h5>所以立刻选择一门主修专业，添加一些课程，开始你的旅程吧！</h5>
    <h5>*开始之前，推荐你首先阅读相关规则。</h5>
    <br>
    <h2>更新：</h2>
    <p>您当前的版本 <span id="currentVersion">1.91</span>
    </p><p><strong> 使用Ctrl+F5刷新或只清除缓存的图像/文件以获取新版本。</strong></p>
    <div id="updateBtn"></div>
    <hr>

    <div id="index-buttons">

    <button class="btn btn-secondary btn-margin">更新日志</button><button class="btn btn-secondary btn-margin">支持者清单</button><button class="btn btn-secondary btn-margin">联系方式</button></div>
    <hr>
    <div id="index-buttons-content">
        <div id="index-changelog">
            <p class="text-left">
            <!--<strong class="text">22-Apr-2019: v1.95</strong> <br>-->
                <!-- - NEW Major - Medical Technologies<br>-->
                <!-- - New Classes - 118, 318, 418<br>-->
            <strong class="text">06-May-2019: v1.91</strong> <br>
                - Disabled the ranking/leaderboard due to security vulnerabilities<br>
                - Updated Supporters List <br>
                - Fixed a bug where Nina wouldn't affect some classes<br>
                - Fixed the compact course list<br>
            <strong class="text">21-Apr-2019: v1.90</strong> <br>
                - NEW Major - Orgasm Science<br>
                - New Classes - 209, 309, 409 <br>
                - Tweaked 101 and 201 fluid classes<br>
                - Updated supporters list<br>
                 <br>
                <strong class="text">08-Apr-2019: v1.85</strong> <br>
                - NEW Major - Oral Technologies<br>
                - Reworked Fluid Mechanics major<br>
                - Reworked Enema classes<br>
                - Reworked Oral classes<br>
                - New Partner - Christina <br>
                - Reworked Partners - Nina, Mizuki, Ina and Laura<br>
                - Removed Partners - Belle, Anna, Lucy, Erika<br>
                - Updated Help/Info page with Estim/Electro toys <br>
                - Updated Help/Info page with "sex noise" files (see Audio and Video section)<br>
                <br>
                <strong class="text">01-Apr-2019: v1.80</strong> <br> 
                - Players who have previously completed Penetration Technologies will now have Sex Trades completed.<br>
                - When viewing a class/club/punishment/major, clicking on its image will send you back to the previous page<br>
                - Fixed a bug where Ina and Laura wouldn't affect classes<br>
                - Potentially fixed a bug where players would get punished for no reason.<br>
                - Fixed a bug where Yumeko would give extra credits <br>
                 <br>
                <strong class="text">25-Mar-2019: v1.75</strong> <br> 
                - Penetration Technologies is now Sex Trades <br>
                - Sex Trades is now Sex Slavery<br>
                - Reworked Classes - 215, 415 <br>
                - NEW Classes - 220, 320, 420 <br>
                - Reworked Public Relations Major<br>
                - Reworked Bondage and Masochism classes <br>
                - Reworked Female classes <br>
                - Reworked schedule for all classes <br>
                - Image updates <br>
                - Credit requirement for classes is now 20/50/100 (previously 12/44/104) <br>
                - Fixed Compact course list <br>
                - Fixed a bug where punishments would be dismissed incorrectly <br>
                - Fixed a bug where the Task page would show incorrect timers<br>
                - Fixed a bug where you would get an error when punished<br>
                <br>
                <strong class="text">18-Mar-2019: v1.70</strong> <br>
                - NEW Partner - Yumeko<br>
                - Maximum number of partners increased to 4 (previously 3)<br>
                - Removed classes 109, 209, 309, 409 <br>
                - Edging 110 no longer allows orgasms <br>
                - Removed the Asphyxia punishment <br>
                - Leaving an Elite Club will now reset your class skips to 0<br>
                - Pausing a Task for more than 4 hours will result in a punishment <br>
                - Fixed a bug where classes would be missing after importing data <br>
                - Fixed a bug where a classes started on the previous day would not show up again in schedule after completing their task<br>
                - Fixed a bug where you wouldn't get punishments for failing a task <br>
                - Fixed a bug which would allow graduating without meeting the requirements <br>
                - Fixed a bug which would prevent you from graduating <br>
                - Fixed a bug where you'd get an extra punishment from failing a task<br>
                - Fixed a bug where Partners would give extra credits when activated after a Task has been started<br>
                - Fixed an exploit that would let you farm class skips using the Elite Club<br>
                - Fixed an exploit that would allow pausing tasks forever <br>
                <br>
                <strong class="text">11-Mar-2019: v1.65</strong> <br>
                - Optimized game engine<br>
                - Optimized website <br>
                - Optimized images <br>
                - NEW Orgasm Roulette (available in the Progress page)<br> 
                - Updated Help/Info/Rules page<br>
                - Updated toy sizes<br>
                - UI improvements<br>
                - Decreased difficulty of 215 class<br>
                - Decreased punishments for dropping a major to 5 (previously 10)<br>
                <br>
                <strong class="text">18-Feb-2019: v1.60</strong> <br>
                - Increased difficulty of Oral tasks in 405 and 412<br>
                - x13 classes are now x10. Edging 213 is now Edging 110<br>
                - Pet Play 217 is now PetPlay 117<br>
                - Updated names for classes (301, 305, 311, 312, 401) <br>
                - Reworked cum-play classes (106, 306, 406)<br>
                - Class 403 now has a timer for daily tasks <br>
                - Elite Club now increases points by 40 for each perk (previously 20) <br>
                - Medical club perks have been switched <br>
                - Updated Public classes and clubs <br>
                - You can now view classes that have active tasks/timers<br>
                - Text fixes.<br>
                <br>
                <strong class="text">11-Feb-2019: v1.55</strong><br>
                - NEW Easy Mode (can be enabled from <a href="settings.html">Settings</a>). Allows classes to be
                attended
                on any day without penalties.<br>
                - Tasks on <a href="schedule.html">Schedule page</a> now show correct amount of credits when
                affected by Partners.<br>
                - Fixed a bug where players would have missing classes for the day. In case you still do, go to
                Settings page and click the fix button<br>
                - Fixed links in compact course list <br>
                <br>
                <strong class="text">06-Feb-2019: v1.52</strong><br>
                - Interface improvements<br>
                - Image updates<br>
                - Text fixes<br>
                <br>
                <strong class="text">05-Feb-2019: v1.51</strong><br>
                - Game will auto update from now on to avoid confusion.<br>
                - Potentially fixed a bug that gave credits for no reason.<br>
                - Text fixes (Charlotte, Hypnosis, Brainwashing)<br>
                <br>
                <strong class="text">04-Feb-2019: v1.50</strong><br>
                - NEW Partners - replace the difficulty system.<br>
                - Made classes/punishments/clubs lists - collapsible/expandable by clicking on their category title
                (the big black bars).<br>
                - Updated interface in Schedule and Progress pages<br>
                - Added new button in <a href="settings.html">Settings</a><br>
                - Increased difficulty of anal classes 311, 312, 402<br>
                - Decreased difficulty of Anal Technologies final thesis<br>
                - Increased difficulty of Penetration Technologies final thesis<br>
                - Decreased difficulty of Gender Studies final thesis<br>
                - Improved Punishments system<br>
                - Fixed - punishments for Psychology Major thesis<br>
                <br>
                <strong class="text">28-Jan-2019: v1.45</strong><br>
                - NEW Exercise and Fitness clubs<br>
                <br>
                <strong class="text">26-Jan-2019: v1.44</strong><br>
                - Fixed - getting punished from tasks that have been started the previous day.<br>
                <br>
                <strong class="text">22-Jan-2019: v1.43</strong><br>
                - Updated Penetration Technologies Major<br>
                - Updated Compact Course List<br>
                <br>
                <strong class="text">21-Jan-2019: v1.42</strong><br>
                - Added warning message for unsupported browsers<br>
                - Decreased difficulty of anal classes<br>
                - Updated 313 and 413 Orgasm classes<br>
                - Rebalanced 305 and 405 Oral classes<br>
                - Boosted clubs to 8%, 16% and 30% (previously 5%, 10% and 25%)<br>
                - Text updates (classes, punishments, clubs)<br>
                - Fixed - you could join an Elite club with less than 100 credits<br>
                - Fixed - task multiplier would display incorrectly on the Schedule page<br>
                - Fixed - getting punished for no reason.<br>
                - Fixed - save data would import incorrectly.<br>
                <br>
                <strong class="text">11-Jan-2019: v1.41</strong><br>
                <strong>- NEW Tasks and Timers System for classes and majors (See Help page)</strong><br>
                - Increased limit of maximum active classes. You can join up to 8 classes now
                - Updated descriptions for feminisation and fetish classes. (See Others in Help for clothing
                info)<br>
                - You no longer lose points for failing daily class tasks or exams. Instead you get punished. (See
                Punishments in Help page)<br>
                - You lose less points for dropping a class (See Credits system in Help page)<br>
                - Feminization major and classes now include shaving <br>
                - Decreased difficulty of petplay classes <br>
                - Rebalanced Sex Psychology Major and classes<br>
                - Rebalanced Sex Trades major <br>
                - Rebalanced Exhibitionism classes 316 and 416 <br>
                - Image Updates <br>
                - Text fixes <br>
                <br>
                <strong class="text">03-Jan-2019: v1.35</strong><br>
                - Server got upgraded with an SSL certificate which could result in data loss.
                If you've lost your data, please import your old one from GitLab which is 1-2 days old. I'm very
                sorry for the inconvenience.<br>
                - Multipliers now apply to punishments <br>
                - Improved the multipliers system.<br>
                - Ranking is now based on a new scoring algorithm and not Credits, resubmit your progress.<br>
                - Rebalanced chastity classes. <br>
                - Fetish classes now include corsets.<br>
                - Added female classes X07 - 107, 207, 307, 407. <br>
                - Fetish X18 classes are now X08.<br>
                - Masturbation X19 classes are now X09.<br>
                - Added new punishment - Group Rape. <br>
                - Improved punishments<br>
                - "Feminization Club" is now the new "Girls Club".<br>
                - Previous "Girls Club" is now "Lesbian Club".<br>
                - Updated images <br>
                - Text fixes<br>
                - Made tasks more gender neutral<br>
                <br>
                <a class="text">31-Dec-2018: </a><br>
                - Fixed multipliers. <br>
                - No need to rejoin clubs after updating anymore. <br>
                - Improved Pet Play classes. <br>
                <br>
                <strong class="text">29-Dec-2018: </strong><br>
                - New Clubs system split into two tiers. You can join up to 5 clubs and activate up to 10 perks <br>
                - Improved multipliers system. <br>
                - Bug fixes<br>
                - Text fixes<br>
                <br>
                <strong class="text">26-Dec-2018: </strong><br>
                - NEW Import/Export save data option is <a href="settings.html">Settings</a><br>
                - Dropping out of a class now has penalties<br>
                - Active classes are now limited to 6<br>
                - Rebalanced credits requirements <br>
                - Visual improvements <br>
                - Bug fixes<br>
                - Text fixes <br>
                <br>
                <strong class="text">23-Dec-2018: </strong><br>
                - NEW Major - Fetish Design <br>
                - NEW Classes - x18 and x19<br>
                - Renamed some majors and classes. <br>
                - Required credits for graduation are now 160 (previous - 140)<br>
                - Increased credit penalties for skipping/failing classes <br>
                - Punishments no longer reward credits<br>
                - Clubs no longer reward credits<br>
                - Elite club increases required credits by 20 for each option (previous - 15) <br>
                - Improved multipliers system.<br>
                - Rebalanced some classes. <br>
                - Decreased difficulty of Asphyxiation punishment <br>
                - Changed color scheme. <br>
                - Image updates <br>
                - Text fixes<br>
                <br>
                <a class="text">01-Dec-2018: </a><br>
                - Enabled weekend classes. You can do all your classes on weekends.
                They are optional and you won't be punished if you don't attend them by the end of the day.<br>
                <br>
                <strong class="text">30-Nov-2018: </strong><br>
                - New update system - saves all progress except clubs. <br>
                - New difficulties system <br>
                - Added Japanese Culture Club. <br>
                - Reworked feminization classes. <br>
                - Reworked Stuffing Science and Pet play majors <br>
                - New compact course list chart in <a href="rules.html">Info page</a><br>
                - Improved punishments system<br>
                - Updated <a href="rules.html">Info page</a><br>
                - Minor code improvements <br>
                <br>
                <a class="text">29-Nov-2018 - Updated religious studies clubs and sorted the rankings page.</a><br>
                <br>
                <strong>26-Nov-2018 - BIG UPDATE: <br>
                    PLEASE GO TO SETTINGS AND RESET THE GAME COMPLETELY<br></strong>
                - NEW Discord chat channel <a href="https://discord.gg/bYpvdfG">https://discord.gg/bYpvdfG</a><br>
                - NEW Online leaderboard (beta)<br>
                - NEW Credits system. Greater freedom when choosing classes.<br>
                - NEW Clubs system that directly affects your daily tasks.<br>
                - NEW Majors - Public Relations, Sex Trades and Pet Science<br>
                - NEW Classes focusing on cum-play, publicity/exhibitionism, sex training/slavery, masochism,
                chastity,
                feminization and pet play<br>
                - NEW Punishments.<br>
                - NEW Interface updates on schedule and progress page. Improved design and function.<br>
                - REWORKED Fluid Dynamics major. It's a dual-path major focusing on enemas and cum-play<br>
                - REWORKED Almost all classes. Further separation between all classes.<br>
                - REWORKED Almost all clubs. Clubs directly modify task values of classes.<br>
                - REWORKED Almost all punishments. Improved balance and separated them into tiers.<br>
                - Simplified rules and tasks.<br>
                - Updated shopping list.<br>
                - Code and image optimisations<br>
                - Added donation button. Please help me keep this site running. <br>
                <br>
                01-Nov-2018 - SEO and website optimizations. Reduced loading times <br>
                10-Oct-2018 - New Host. Active development resumed. GitHub admins deleted the original project. <br>
                25-Aug-2018 - Fixed top menu loading. New android APK (For Android 7 and newer) - <a href="https://mega.nz/#!OHxxXLYJ!TNOGqFFKxXKDH6-VegJnzrM9lrgznKcuaBHUjSGux0w">LINK</a> <br>
                24-Aug-2018 - Added Hypno recommendations in <a href="rules.html">Info and Rules page</a> <br>
                23-Aug-2018 - Updated shopping list. <br>
                22-Aug-2018 - Minor text fixes. Added update button. <br>
                20-Aug-2018 - Android beta apk released. Check the repo for details
                <a href="https://github.com/mayatrap/sissy_university">LINK</a> <br>
                19-Aug-2018 - Added "Leave Class" functionality. Added perk counters in schedule page. Balanced
                classes.<br>
                17-Aug-2018 - Improved mobile device compatibility. Added precum increasing supplements in Info
                page.<br>
                15-Aug-2018 - Initial release<br>
            </p>
        </div>
        <div class="text-left" id="index-contacts">
            <h5 class="text-center">
                Contacts:<br>
                <a href="https://discord.gg/bYpvdfG" target="_blank">Discord</a><br>
                <a href="https://www.reddit.com/r/sissyuniversity/">Reddit</a><br>
                <a href="https://www.patreon.com/mayatrap">Patreon</a><br>
            </h5>
        </div>
        <div class="text-left" id="index-supporters">
            <h5 class="text-center">Contributors</h5>
            <p class="text-center font-weight-bold">I thank all the people who have contributed to the game with
                their time and content.</p>
            <a href="https://discordapp.com/users/216659544284200961" class="font-weight-bold">Failerko</a>
            creating the import/export save data and aiding with development.
            <br>
            <a class="font-weight-bold">Pambo</a> and
            <a class="font-weight-bold" href="https://fetlife.com/users/2191410">BG (aka badgirl_uktv)</a>
            for helping with the compact course list.
            <br>
            <p>And everyone who has shared their feedback and ideas.</p>
            <hr>


            <h5 class="text-center">Special thanks</h5>
            <p class="text-center font-weight-bold">I also thank all the people who have indirectly helped me make
                this project.</p>
            <a href="https://www.faproulette.co/4458/university-of-anal/">University of Anal</a> by <a href="https://keystroke.tk/">Keystroke</a> for the initial idea and inspiration.
            <br>
            <a href="https://boards.4chan.org/d/chastity">Cute Sluts edition mod</a> for improving upon the
            original
            game and creating additional content such as the Public Services major and the cum-play classes.
            <br>
            <hr>


            <h5 class="text-center">Supporters</h5>
            <p class="text-center font-weight-bold">And I utmost thank all the people who have supported the project
                through PayPal and Patreon!</p>
            <p>
                <a class="font-weight-bold">Anna</a> - Sugar Daddy<br>
                <a class="font-weight-bold">Dani</a> - Sugar Daddy<br>
                <a class="font-weight-bold">sissyTina</a> - Early Supporter <br>
                <a class="font-weight-bold">Pseudo-ku</a> - Elite Supporter<br>
                <a class="font-weight-bold">Sissy Kari</a> - Serious Supporter<br>
                <a class="font-weight-bold">flameboy109</a> - Serious Supporter<br>
                <a class="font-weight-bold">Jaye Ashbury</a> - Serious Supporter<br>
                <a class="font-weight-bold">flameboy109</a> - Serious Supporter<br>
                <a class="font-weight-bold">geebster</a> - Serious Supporter<br>
                <a class="font-weight-bold">BustyLuci</a> - Serious Supporter<br>
                <a class="font-weight-bold">Maid Jenny</a> - Supporter<br>
                <a class="font-weight-bold">Dreeddii</a> - Supporter<br>
                <a class="font-weight-bold">dollPrincess Caroline</a> - Supporter<br>
                <a class="font-weight-bold">Theta</a> - Supporter<br>
                <a class="font-weight-bold">Cee Marie</a> - Supporter<br>
                <a class="font-weight-bold">SissyDoll</a> - Supporter<br>
                <a class="font-weight-bold">Lily</a> - Casual Supporter<br>
                <a class="font-weight-bold">fiumesissy</a> - Casual Supporter<br>
                <a class="font-weight-bold">Augustulus</a> - Casual Supporter<br>
                <a class="font-weight-bold">morgen</a> - Casual Supporter<br>
                <a class="font-weight-bold">Allison A'vani</a> - Casual Supporter<br>
                <a class="font-weight-bold">Izana</a> - Casual Supporter<br>
                <a class="font-weight-bold">and all the rest who chose to remain anonymous!</a><br>
            </p>
            <hr>
        </div>
    </div>
</div>